export(bumpingr)
export(clust.lm)
export(expand.covs)
export(geer)
export(gen.correlated)
export(lmr)
export(mclust.lm)
export(mclust.lm.X)
export(mixed_modelr)
export(read.bin)
export(readX)
export(skatr)
export(stouffer_liptak)
export(stouffer_liptakr)
