export(bumpingr)
export(clust.lm)
export(fclust.lm)
export(fclust.lm.X)
export(geer)
export(lmr)
export(mixed_modelr)
export(read.bin)
export(readX)
export(skatr)
export(stouffer_liptak)
export(stouffer_liptakr)
