export(bumpingr)
export(clust.lm)
export(combiner)
export(expand.covs)
export(geer)
export(gen.correlated)
export(lmr)
export(make.correlated)
export(mclust.lm)
export(mclust.lm.X)
export(mixed_modelr)
export(nb.mixed.count)
export(read.bin)
export(readX)
export(skatr)
export(stouffer_liptak.combine)
export(zscore.combine)
